@import 'colors';
@import 'media-queries';
%align-center{
    display: flex;
    align-items: center;
}

.navbar {
    background: $medium;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) /2);
    z-index: 10;
    position: relative;

    &__logo {
        cursor: pointer;
        margin-left: 50px;
        margin-top: 20px;
        @extend %align-center;
    }
    
    &__bars {
        opacity: 0;
    
        @include tablet{
            color: $dark;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 20px;
        }

        &__menu {
            @extend %align-center;
            list-style: none;
            text-align: center;
            margin-right: 25px;

            @include tablet{
                display: none;
            }
            &--links{
                color: $medium;
                @extend %align-center;
                justify-content: center;
                text-decoration: none;
                padding: 0 1rem;

                &:hover{
                    color: $greyish;
                    transition: all 0.3 ease;

                }
            }

            #button {
                padding: 12px 24px;
                border: none;
                outline: none;
                border-radius: 4px;
                background: $dark;
                color: #fff;
                font-size: 20px;
                font-family: 'Comfortaa', cursive;

            }
        }

    }
}